<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.st.stmall.dao.ManagerMapper">
	<select id="login" parameterType="com.st.stmall.pojo.Manager" resultType="com.st.stmall.pojo.Manager">
		select * from manager where mname=#{mname} and mpassword=#{mpassword}
	</select>
	
	<update id="update" parameterType="com.st.stmall.pojo.Manager">
		 update manager set mpassword=#{mpassword} where mid=#{mid}
	</update>
</mapper>